::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  background: transparent !important;
  box-shadow: none !important;
}

.premium-table tr {
  background: transparent !important;
}

.premium-table td {
  background: transparent !important;
}
